--创建临时表
        create table temp_behaviors like userbehavior


        --截取

        insert into temp_behaviors
        select * from userbehavior limit 100000;

        select * from temp_behaviors;


        -- pv(Page View页面浏览量)

        select dates
        ,count(behavior_type) 'pv'
        from temp_behaviors
        where behavior_type = 'pv'
        group by dates;


        -- UV（Uniqque Visitor独立访客数）

        select dates
        ,count(distinct user_id) 'uv'
        from temp_behaviors
        where behavior_type = 'pv'
        group by dates;


        -- 一条语句

        select dates
        ,count(behavior_type) 'pv'
        ,count(distinct user_id) 'uv'
        ,round(count(behavior_type)/count(distinct user_id),1) 'pv/uv'
        from temp_behaviors
        where behavior_type = 'pv'
        group by dates;


        -- 处理真实数据
        create table pv_uv_puv(
        dates char(10),
        pv int(9),
        uv int(9),
        puv decimal(10,1)
        );


        insert into pv_uv_puv
        select dates
        ,count(behavior_type) 'pv'
        ,count(distinct user_id) 'uv'
        ,round(count(behavior_type)/count(distinct user_id),1) 'pv/uv'
        from userbehavior
        where behavior_type = 'pv'
        group by dates;

        select * from pv_uv_puv;


